.wrapper {
  display: grid;
  align-items: stretch;
  &:last-child {
    margin-bottom: 0;
  }
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.div5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 30px;
  margin: 10px;
  grid-area: 2 / 3 / 4 / 4;
  padding: 30px;
  min-width: 460px;
}

.div6 {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  grid-area: 3 / 1 / 4 / 3;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 30px;
  flex-grow: 1;
  margin: 10px;
}

.item {
  display: flex;
  align-items: flex-start;
  font-family: UltraLight, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 40px;
  line-height: 90%;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  user-select: none;
  margin: 0 0 100px 0;
}

.requestsList {
  display: flex;
  align-items: flex-end;
  font-family: UltraLight, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: 0;
}

.flex-parent {
  display: flex;
}

.flex-item {
  padding: .5em;
  background: #efefef;
  border: 3px solid #333;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.cardList {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 20px;
  gap: 7.5px;
}

.cardLabel {
  font-family: UltraLight, sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-wrap: nowrap;
  margin-top: 5px;
}

.cardImage {
  width: 100%;
  height: auto;
  // aspect-ratio: auto 3/4;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
}


.contacts {
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.80);
  margin: 10px;
  width: 100%;
}

.contactsMobile {
  display: flex;
  align-items: flex-end;
}

.textContacts {
  display: flex;
  align-items: flex-end;
  margin: 40px;
  color: white;
  font-family: UltraLight, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 90%;
}

.free {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 30px;
  padding: 30px;
  max-width: 200px;
  user-select: none;
}

// @media (max-width: 1675px) {
//   .cardList {
//     justify-content: center;
//     gap: 5px;
//     margin: 20px 0 0 0;
//   }
// }

@media (max-width: 1300px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .div5 {
    min-width: 0;
    grid-area: 3 / 2 / 4 / 3;
  }

  .item {
    margin: 0 0 30px 0;
  }

  .div6 {
    min-height: 300px;
    grid-area: 4 / 1 / 5 / 3;
  }

  .free {
    max-width: 250px;
  }
}

@media (max-width: 720px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .div5 {
    grid-area: 6 / 1 / 7 / 2;
  }

  .div6 {
    display: flex;
    flex-direction: column-reverse;
    grid-area: 7 / 1 / 8 / 2;
    min-width: 250px;
    margin: 0;
  }

  .free {
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    max-width: 720px;
  }

  .textContacts {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 28px;
    width: 100%;
    line-height: 1.5;
  }

  .contacts {
    display: flex;
    justify-content: center;
    margin-left: -10px;
    border: none;
  }
}
