.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: solid white 1px;
  margin: 20px;
  height: 85px;
  user-select: none;
}

.logo {
  display: flex;
  align-items: end;
  margin-left: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-family: Light, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  margin-bottom: 11px;
  cursor: pointer;
}

.button_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 110px;
  color: white;
}

.button_language {
  cursor: pointer;
}

@media (max-width: 540px) {
  .wrapper {
    margin: 20px 10px;
    min-height: 85px;
  }

  .logo {
    margin-left: 0;
  }

  .button_item {
    padding-left: 73px;
  }
}

@media (max-width: 440px) {
  .button_item {
    padding-left: 40px;
  }
}

@media (max-width: 370px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
  }
}
