@import "../../../styles/mixins.scss";

.input {
  border: none;
  border-bottom: 1px solid var(--gray-color);
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  padding: 7px 0;
  color: var(--black-color);
  overflow: visible;


  &::placeholder {
    font-family: Light, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--input-color-text);
    overflow: visible;
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: none;
  }

  @include paragraph-1;
  font-weight: 400;
}
