.wrapper {
  position: relative;
  font-family: Light, sans-serif;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  min-height: 104px;
  background: rgba(255, 255, 255, 0.80);
  color: var(--input-color-text);
  border-radius: 30px;
  user-select: none;
  padding: 10px;
  gap: 30px;
}

.inputGrid {
  padding-left: 15px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 230px 230px 100px auto;
  // grid-template-columns: 20vh 15vh 5vh auto;
  grid-template-rows: 30px auto;
  grid-auto-flow: column;
  row-gap: 10px;
  column-gap: 30px;
}

.tripDurationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  // margin: 25px 17px;
}

.destination {
  font-weight: 400;
  // margin-left: 30px;
  color: var(--input-color-text);
  min-width: 150px;
}

.interests {
  font-weight: 400;
  color: var(--input-color-text);
  width: auto;
  min-width: 230px;
}

.inputWithTooltip {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  // margin: 0 30px;
  box-sizing: border-box;
}

.tooltipWithTitle {
  display: flex;
  flex-direction: row;
}

.duration {
  font-weight: 400;
  color: var(--input-color-text);
  width: 100px;
}

.preferences {
  font-weight: 400;
  color: var(--input-color-text);
  // margin-left: 30px;
}

.preferencesTitle {
  display: flex;
  flex-direction: row;
  position: relative;
}

.tooltipWrapper {
  margin-left: 6px;
  margin-top: 6px;
  position: relative;
}

.tooltip::after, .tooltip:before {
  z-index: 1000;
  font-family: Light, sans-serif;
  position:absolute;

  transition: visibility 0s, opacity 0.3s; 
  opacity: 0;
  visibility: hidden;
}

.tooltip:before {
  content: attr(data-text);
  
  bottom: calc(100% + 10px);
  right: -750%;
  width: 300px;
  padding: 10px;
  border-radius:10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.tooltip:after {
  content: "";
  
  left: 1px;
  top: -11px;

  border: 8px solid transparent;
  border-color: rgba(255, 255, 255, 0.7) transparent transparent  transparent;
}

.tooltip:hover:before, .tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}

.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: 10px;
  gap: 5px;
  min-width: 190px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 15px 2vw;
  border-radius: 20px;
}

.firstLine {
  margin: 0 10px;
}

.nearbyLocations, .localCuisine {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    display: flex;
    flex-direction: row;
  }

  div:last-child {
    margin-top: 5px;
  }

  label:before {
    content: "\2713";
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    border: 1px black solid;
    border-radius: 5px;

    text-align: center;
    line-height: 17px;
    color: transparent;
  }
  

  input[type=checkbox] {
    appearance: none;
  }
  
  input[type=checkbox]:checked ~ label:before {
    color: white;
    background: black;
  }
}

//@media (max-width: 1440px) {
//  .checkbox {
//    display: none;
//  }
//}

@media (max-width: 1730px) {
  .text {
    display: none;
  }
}

@media (min-width: 1031px) and (max-width: 1500px) {
  .inputGrid {
    grid-template-columns: auto auto auto min-content;
  }

  .duration {
    width: 100%;
  }

  .wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .button {
    flex-direction: row;
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 48px;
    width: 250px;
  }

  .checkbox {
    padding-bottom: 5px;
  }

  .firstLine {
    margin: 0;
    margin-right: 8px;
  }
}


@media (min-width: 801px) and (max-width: 1031px) {
  .inputGrid {
    // width: 100%;
    margin-right: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
  }

  
  .inputGrid > div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
  .inputGrid > div:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
  .inputGrid > div:nth-child(3) { grid-area: 1 / 2 / 2 / 3; }
  .inputGrid > div:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
  .inputGrid > div:nth-child(5) { grid-area: 1 / 3 / 2 / 4; }
  .inputGrid > div:nth-child(6) { grid-area: 2 / 3 / 3 / 4; }
  .inputGrid > div:nth-child(7) { grid-area: 3 / 1 / 4 / 2; }
  .inputGrid > div:nth-child(8) { grid-area: 4 / 1 / 5 / 2; }


  .wrapper {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 70px;
  }

  .button {
    flex-direction: row;
    position: absolute;
    right: 10px;
    bottom: -10px;
    height: 48px;
    width: 250px;
  }

  .checkbox {
    top: 120px;
    left: 370px;
    position: absolute;
  }

  .firstLine {
    margin: 0;
    margin-right: 8px;
  }
}



@media (max-width: 800px) {
  .firstLine {
    margin: 0;
    margin-right: 8px;
  }

  .inputGrid {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 20px;
  }

  .inputGrid > p {
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .preferencesTitle {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .inputGrid > p:first-child {
    margin-top: 0;
  }

  .wrapper {
    display: flex;
    border-radius: 30px 30px 0 0;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    gap: 0;
  }
  
  .inputGrid > div:last-child {
    flex-wrap: wrap;
  }

  .text {
    display: flex;
    flex-direction: row;
    margin: 15px 20px 0 20px;
    font-size: 40px;
  }


  .duration {
    width: 100%;
  }

  .preferences {
    margin: 10px 24px 0 24px;
  }

  .button {
    align-self: center;
    display: flex;
    justify-content: center;
    width: max(60vw, min-content);
    flex-direction: row;
    border-radius: 100px;
    padding: 0;
    padding-inline: 40px;
    margin: 20px;
  }

  .tooltip:before {
    padding: 10px;
    position: fixed;
    width: 80vw;
    height: min-content;
    top: 50%;
    left: 50%;
    // margin-top: 40vh; /* Negative half of height. */
    margin-left: calc(-40vw - 10px); /* Negative half of width. */
  }

  .tooltip:after {
    position: fixed;
    pointer-events: none;
    z-index: 999;
    left: -1vw;
    top: -1vh;
    width: 110vw;
    height: 110vh;
    background: rgba(0, 0, 0, 0.5);
  }

  .tripDurationWrapper {
    margin-top: 25px;
  }

}

