// colors
$primary-background-color: var(--primary-background-color);

$white-color: var(--white-color);
$gray-color: var(--gray-color);
$black-color: var(--black-color);
$sucess-color: var(--sucess-color);
$warning-color: var(--warning-color);
