.flags {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.text {
  display: flex;
  flex-direction: column;
  font-family: Light, sans-serif;
  color: var(--white-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}
